/* playing with CSS variables */
:root {
  --colorWhite: white;
  --colorBlue: #0a1536;
}


/* Main CSS section for typography */

body {
  font-family: "Fira Sans Condensed", sans-serif;
}

section {
  background-color: var(--colorWhite);
}

.hero {
  background: rgb(57,54,68);
  background: linear-gradient(0deg, rgba(57,54,68,1) 4%, rgba(13,19,78,1) 99%);   
  height: 100vh;
  color: var(--colorWhite);
  font-size: 40px;
}

nav {
  display: flex;
  align-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  font-size: 35px;
}

li {
  width: 200px;
  text-decoration: none;
  justify-content: space-between;
  text-align: center;
}

h1 {
  font-size: 95px;
  margin: 0;
}

h2 {
  font-size: 60px;
  text-align: center;
}

p {
  margin: 0px;
  font-size: 25px;
  font-weight: 100;
}

.name-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.name-text {
  margin-left: 50px;
  margin-bottom: 200px;
}

.socials {
  padding-bottom: 200px;
  margin: 25px;
}

.social-li {
  margin-bottom: 10px;
  transition: all .2s ease-in-out; 
}

.social-li:hover {
  transform: scale(1.1); 
}

.social-gh {
  transition: all .2s ease-in-out; 
}
 
.social-gh:hover {
  transform: scale(1.1); 
}
 
.info-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.photo {
  width: 275px;
}

.photo-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

hr {
  margin-inline-start: 60px;
  margin-inline-end: 60px;
}

.nav {
  text-decoration: none;
  color: var(--colorWhite);
}

.hamburger {
  display: none;
}

@media only screen and (max-width 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
  }
  ul {
    display: none;
  }

}









/* Largest card */

.project-section-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
}

.project-container-one {
  display: flex;
  justify-content: space-around;
}

.project-card-one {
  width: 600px;
  height: 400px;
  box-shadow: 8px 8px 40px var(--colorBlue);
  margin: 0px;
  transition: all .2s ease-in-out; 
}

.project-card-one:hover {
  transform: scale(1.1); 
}


.project-image-one {
  margin-top: 38px;
  width: 460px;
}


/* Project cards section */

.project-card {
  width: 300px;
  height: 350px;
  box-shadow: 8px 8px 40px var(--colorBlue);
  margin: 10px;
  transition: all .2s ease-in-out; 
}

.project-card:hover {
  transform: scale(1.1); 
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.project-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.project-image {
  margin-top: 45px;
  height: 190px;
  width: 280px;
}
.project-link {
  decoration: none;
  color: var(--colorBlue);
}




/* Footer */

footer {
  height: 300px;
  background: rgb(57,54,68);
  background: linear-gradient(0deg, rgba(57,54,68,1) 4%, rgba(13,19,78,1) 99%);
  color: var(--colorWhite);
  text-align: center;
  padding: 40px;
}
.footer-social {
  display: block;
  margin-top: 45px;
  transition: all .2s ease-in-out; 
}

.footer-social:hover {
  transform: scale(1.1); 
}


@media only screen and (min-width: 480px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}
